<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <h1>{{my_name}}</h1>
</div>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
          <label for="title" class="col-sm-1   control-label">Title</label>
          <div class="col-sm-10">
            <input [(ngModel)]="title" type="text" class="form-control" name="title">
          </div>
          <button class="btn btn-primary col-sm-1">HELLO</button>
        </div>
    </form>
    <app-contact></app-contact>
    <app-calculator></app-calculator>
</div>



